body {
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
}

.App {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #34495e;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  text-align: left;
  border-radius: 12px;
}

h1 {
  color: #ecf0f1;
  margin-bottom: 20px;
  text-align: center;
}

.counter {
  margin-top: 20px;

}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: #e74c3c;
  color: #fff;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c0392b;
}

.filter-list {
  margin-top: 30px;
}

.dropdown-button {
  margin-right: 15px;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.dropdown-button:hover {
  background-color: #2980b9;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ecf0f1;
  border-radius: 6px;
  background-color: #2c3e50;
  color: #ecf0f1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #3498db;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #2980b9;
}

.flex {
  display: flex;
  gap: 10px;
}